*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#mywebsite{
    font-family: Arial, Helvetica, sans-serif;
}
#landing{
    background-image: url(../img/landing-img.jpg);
    background-size: cover;
    height: 100vh;
    box-shadow: 0px -150px 300px 1px rgb(136, 136, 136);
}
#landing h1{
    font-size: 63px;
    position: relative;
    text-shadow: 3px 3px 2px black;
}
#landing p{
    font-size: 24px;
    padding-top: 18px;
    position: relative;
    text-shadow: 3px 3px 2px black;
}
#landing h1, p{
    color: white;
    text-align: center;
    top: 440px;
}
#blog{
    padding-left: 140px;
}
img{
    align-items: center;
    height: 230px;
    width: 370px;
    padding-bottom: 1%;
}
div:nth-child(5){
    display: inline-block;
    border: 1px solid lightgray;
    height: 420px;
    width: 370px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    border: 1px solid rgb(227, 219, 219);
    box-shadow: 0px 1px 3px 0px rgb(234, 220, 220);
}
div:nth-child(4){
    display: inline-block;
    border: 1px solid black;
    height: 420px;
    width: 370px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin-right: 11px;
    margin-top: 55px;
    box-shadow: 0px -70px 500px 1px rgb(45, 42, 42)inset;
}
div:nth-child(4) p{
    color: white;
}
div:nth-child(4) a{
    color: white;
}
div:nth-child(4) a:hover{
    color: red;
}
div:nth-child(3){
    display: inline-block;
    border: 1px solid lightgray;
    height: 420px;
    width: 370px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    border: 1px solid rgb(227, 219, 219);
    box-shadow: 0px 1px 3px 0px rgb(234, 220, 220);
}
div:nth-child(2){
    display: inline-block;
    border: 1px solid lightgray;
    height: 420px;
    width: 370px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    border: 1px solid rgb(227, 219, 219);
    box-shadow: 0px 1px 3px 0px rgb(234, 220, 220);
}
#blog h2{
    margin-top: 150px;
    font-size: 40px;
    text-align: 230px;
}
div p{
    color: black;
    width: 308px;
    padding: 5px;
    text-align: start;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
}
#blog h3 {
    padding-left: 38px;
    padding-right: 40px;
    padding-top: 10px;
}
a{
    color: rgb(128, 128, 128);
    padding-left: 36px;
    padding-right: 40px;
    text-decoration: none;
}
a:hover{
    color: blue;
}
#services{
    background-color: rgb(241, 241, 241);
    margin-top: 160px;
    height: 477px;
}
#services h2{
    padding-top: 155px;
    font-size: 40px;
    text-align: center;
}
ul{
    margin-top: 40px;
    text-align: center;
    
}

